* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  width: 100vw;
  /* background-image: url('./assets/IMG-1483.jpg'); */
  /* background-image: linear-gradient(red, green); */
  /* background-image: repeating-linear-gradient(red, blue 20%, green 50%); */
  /* background-image: radial-gradient(red, blue); */
  /* background-image: repeating-radial-gradient(red, blue 20%, green 30%); */
  background-color: gold;
  /* background-repeat: repeat; */
  /* background-position: center; */
  /* background-size: 100% 100%; */
  /* background-attachment: fixed; */
  /* filter: blur(4px);
  -webkit-filter: blur(4px); */
  /* backdrop-filter: blur(8px); */
  /* -webkit-backdrop-filter: blur(8px); */
  /* position: relative; */
  /* font-size: 3rem;
  display: grid;
  place-items: center; */
  color: blue;
  display: grid;
  align-items: center;
  justify-content: center;
}
.child {
  width: 200px;
  height: 200px;
  background-color: green;
  margin: auto;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.box {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  width: 50%;
  height: 50%;
}
